.products_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item_products_home {
    width: 20%;
    min-width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.item_products_home:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.image_products_home {
    width: 100%;

}

.infProducts_home {
    text-align: center;
}

.image_home_item {
    height: 350px;
    display: flex;
    align-items: center;
}

.title_home_product {
    text-align: center;
    margin-top: 50px;
}
